<h1>{{title}}</h1>
<input type="radio" name="demo" (click)="onToggle()">Vegetables 
<input type="radio" name="demo" (click)="onToggle1()">Fruits
<table border="1" id="t1" *ngIf="showMe">
    <tr>
        <th>INDEX</th>
        <th>Name</th>
        <th>IMAGES</th>
    </tr>
<tr *ngFor="let v of veg;let i=index"> 
<td>{{i+1}}</td>
<td>{{v.name}}</td>
<td><img src="{{v.image}}"></td>
</tr>
</table>
<table border="1" id="t2" *ngIf="showMe1">
    <tr>
        <th>INDEX</th>
        <th>Name</th>
        <th>IMAGES</th>
    </tr>
<tr *ngFor="let v of fruits;let i=index"> 
<td>{{i+1}}</td>
<td>{{v.name}}</td>
<td><img src="{{v.image}}"></td>
</tr>
</table>
